h2 {
  text-decoration: underline;
  font-size: 1.5rem;
  font-weight: bold;
}
.entry-page {
  position: relative;
  padding: 2rem;
  color: white;
  background-color: #111;
  min-height: calc(100vh - 125px);
}

.entry-sidebar {
    position: absolute;
    background-color: #1c1c1c;
    width: 350px;
    height: 60vh;
    top: 19%;
    left: 16rem;
    border-radius: 1.5rem;
    align-items: center;
    justify-items: center;
}





/* === Overlay for TrueLayer-connected users === */
.blocker-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.blocker-content {
  background-color: #222;
  padding: 2rem 3rem;
  border-radius: 12px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.blocker-content h2 {
  color: #00e676;
}

.blocker-content button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: #00e676;
  font-weight: bold;
  cursor: pointer;
}
