.dashboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
  padding: 1rem; 
  height: calc(100vh - 70px); 
  box-sizing: border-box;
  background-color: #000; 
  z-index: 1;
}


/* --- Widgets --- */
.widget {
  background-color: #222;
  color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;       
  justify-content: space-between;
  overflow-y: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  padding: 0 1rem 0 1rem;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}

.widget:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.35);
  /*border: 1px solid #00e676;*/
}

.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.widget-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.widget-dropdown {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 0.25rem;
}





/* -- Resize -- */
.widget.expanded {
  position: fixed !important;
  top: 10vh;
  left: 5vw;
  width: 90vw;
  height: 70vh;
  background-color: #111;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(0,0,0,0.6);
}

.widget-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 9998;
}


.expand-btn {
  background: none;
  border: 1px solid #888;
  color: white;
  border-radius: 4px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  transition: background 0.2s;
}
.expand-btn:hover {
  background: #444;
}




/* -- Edit dashboard -- */
.remove-btn {
  background: none;
  border: none;
  color: #ff5252;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.2s ease;
  z-index: 1;
}
.remove-btn:hover {
  color: red;
}

.widget-edit-placeholder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #888;
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  height: 100%;
  text-align: center;
}

.widget.editing {
  border: 1px dashed #00e676;
  opacity: 0.9;
}




/* -- Upcoming bills -- */
.bills-table-container {
  overflow-y: auto;
  max-height: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  text-align: left;
  padding: 0.5rem;
  border-bottom: 1px solid #444;
}
h3 {
  font-size: 1rem;
}